.app-wrapper {
  display: grid;

  grid-template-areas:
    "header-grid-area header-grid-area"
    "nav-grid-area content-grid-area";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
